In [6]:
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
import collections
from collections import Counter

In [7]:
#Загрузка файла в Google Colab
from google.colab import files
uploaded = files.upload()

Saving movie_bd_v5.xls to movie_bd_v5.xls

In [9]:
#Чтение файла
data = pd.read_csv('movie_bd_v5.xls')

In [10]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [11]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [12]:
#Удаление ненужного столбца. 
data.drop(['tagline'], axis = 1, inplace=True)
#Форматирование даты выхода. 
data['release_date'] = pd.to_datetime(data['release_date'])
#Добавление столбцов Профит и Месяц. 
data['profit'] = data['revenue'] - data['budget']
data['month'] = data['release_date'].dt.month
#Проверка
data.head()

     imdb_id     budget     revenue  ... release_year      profit month
0  tt0369610  150000000  1513528810  ...         2015  1363528810     6
1  tt1392190  150000000   378436354  ...         2015   228436354     5
2  tt2908446  110000000   295238201  ...         2015   185238201     3
3  tt2488496  200000000  2068178225  ...         2015  1868178225    12
4  tt2820852  190000000  1506249360  ...         2015  1316249360     4

[5 rows x 15 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [13]:
data[data.budget == data.budget.max()]
# тут пишем ваш код для решения данного вопроса:
#+

       imdb_id     budget     revenue  ... release_year     profit month
723  tt1298650  380000000  1021683000  ...         2011  641683000     5

[1 rows x 15 columns]

ВАРИАНТ 2

In [ ]:
# Более простого варианта не нашел.

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
#answers['2'] = '...'

In [14]:
data[data.runtime == data.runtime.max()]

        imdb_id    budget   revenue  ... release_year    profit month
1157  tt0279111  56000000  12923936  ...         2003 -43076064     2

[1 rows x 15 columns]

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
data[data.runtime == data.runtime.min()]

       imdb_id    budget   revenue  ... release_year    profit month
768  tt1449283  30000000  14460000  ...         2011 -15540000     4

[1 rows x 15 columns]

# 4. Какова средняя длительность фильмов?

In [16]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

       imdb_id     budget     revenue  ... release_year      profit month
239  tt0499549  237000000  2781505847  ...         2009  2544505847    12

[1 rows x 15 columns]

# 7. Какой фильм самый убыточный?

In [ ]:
data[data.profit == data.profit.min()]

        imdb_id     budget   revenue  ... release_year     profit month
1245  tt1210819  255000000  89289910  ...         2013 -165710090     7

[1 rows x 15 columns]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
#Фильтрую по году
year_2008 = data[data.release_year == 2008]
year_2008[year_2008.profit == year_2008.profit.max()]

       imdb_id     budget     revenue  ... release_year     profit month
599  tt0468569  185000000  1001921825  ...         2008  816921825     7

[1 rows x 15 columns]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
#Фильтрую по периоду
period = data[(data.release_year > 2012) & (data.release_year <= 2014)]
period[period.profit == period.profit.min()]

        imdb_id     budget   revenue  ... release_year     profit month
1245  tt1210819  255000000  89289910  ...         2013 -165710090     7

[1 rows x 15 columns]

# 11. Какого жанра фильмов больше всего?

In [23]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [24]:
#Подсчет через collections.Counter
genre_list = data['genres'].str.cat(sep='|').split(sep='|')
c = collections.Counter()
for category in genre_list:
    c[category] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
#Фильтрую по прибыли
profit_df = data[data.profit>0]
pd.Series(profit_df['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [ ]:
#Создаю новый, чтоб не портить исходный
data_dir = data.copy()
#Избавляюсь от разделителей
data_dir['dir_list'] = data_dir['director'].str.split('|')
data_dir_list = data_dir.explode('dir_list')
#Подсчет через groupby 
data_dir_list.groupby(['dir_list'])['revenue'].sum().sort_values(ascending=False)

dir_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
action_dir_list = data[data['genres'].str.contains('Action')]
Counter(action_dir_list.director.str.cat(sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
#Создаю новый, чтоб не портить исходный
data2012 = data[data['release_year'] == 2012].copy()
#Избавляюсь от разделителей
data2012['cast_list'] = data2012['cast'].str.split('|')
data_cast_list = data2012.explode('cast_list')
#Подсчет через groupby
data_cast_list.groupby(['cast_list'])['revenue'].sum().sort_values(ascending=False)

cast_list
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
#Фильтрую по бюджету
data_high = data[data.budget > data.budget.mean()]
#Вычисление через collections.Counter
Counter(data_high.cast.str.cat(sep='|').split('|')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
#Фильтрую по актеру
data_cage = data[data.cast.str.contains('Nicolas Cage')]
#Вычисление через collections.Counter
Counter(data_cage.genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
#Фильтрую по студии
data_parpict = data[data.production_companies.str.contains('Paramount Pictures')]
data_parpict[data_parpict.profit == data_parpict.profit.min()]

       imdb_id     budget   revenue  ... release_year    profit month
925  tt0267626  100000000  35168966  ...         2002 -64831034     7

[1 rows x 15 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
#Фильтрую по студии
data_warner = data[data.production_companies.str.contains('Warner Bros')]
data_warner.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
data.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
data.month[(data.month == 6) | (data.month == 7) | (data.month == 8)].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
data_winter = data[(data.month == 1) | (data.month == 2) | (data.month == 12)]
Counter(data_winter.director.str.cat(sep='|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
#Создаю новый, чтоб не портить исходный
data_title = data.copy()
#Вычисляю длину названия
data_title['title_length'] = data_title.original_title.apply(lambda x: len(x))
#Избавляюсь от разделителей
data_title['comp_list'] = data_title['production_companies'].str.split('|')
data_title_list = data_title.explode('comp_list')
#Подсчет
data_title_list.groupby(['comp_list'])['title_length'].mean().sort_values(ascending=False)

comp_list
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
#Создаю новый, чтоб не портить исходный
data_overview = data.copy()
#Вычисляю длину описаний 
data_overview['over_length'] = data_overview.overview.apply(lambda x: len(x.split(' ')))
#Избавляюсь от разделителей
data_overview['comp_list'] = data_overview['production_companies'].str.split('|')
data_over_list = data_overview.explode('comp_list')
#Подсчет
data_over_list.groupby(['comp_list'])['over_length'].mean().sort_values(ascending=False)

comp_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: over_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
#Подсчет через квантиль 
data[data.vote_average > np.quantile(data.vote_average, .99)]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [32]:
#Цикл для создания пар.
pairs=[]
for i in range(len(data)):
    cast_new=data.loc[i,'cast'].split('|')
    for j in range(len(cast_new)-1):
        for k in range(j+1,len(cast_new)):
            pairs.append(sorted([cast_new[j],cast_new[k]]))
#Не выношу функцию в предобратотку, так как она используется только тут.
#Функция подсчета самых встречающихся значений
def most_frequent(pairs):
    counter = 0
    num = pairs[0]
    for i in pairs:
      curr_frequency = pairs.count(i)
      if(curr_frequency > counter):
        counter = curr_frequency
        num = i
    return num
print(most_frequent(pairs))

['Daniel Radcliffe', 'Rupert Grint']

Была еще попытка решить через itertools.combinations

In [33]:
import itertools
#Создание упрощенного датафрейма
data_pairs = data[['cast','original_title']].copy()
#Избавление от разделителей
data_pairs['cast_list'] = data_pairs['cast'].str.split('|')
#Сортировка данных
data_pairs.sort_values('cast_list')
#Добавление пар в датафрейм
data_pairs['pair_list'] = data_pairs.cast_list.apply(lambda row: itertools.combinations(row, 2))
data_pairs
#А вот дальше не понял, как обработать, увы...

                                                   cast  ...                                          pair_list
0     Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...  ...  <itertools.combinations object at 0x7fe82fd334f8>
1     Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...  ...  <itertools.combinations object at 0x7fe82fd33548>
2     Shailene Woodley|Theo James|Kate Winslet|Ansel...  ...  <itertools.combinations object at 0x7fe82fd33598>
3     Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...  ...  <itertools.combinations object at 0x7fe82fd332c8>
4     Vin Diesel|Paul Walker|Jason Statham|Michelle ...  ...  <itertools.combinations object at 0x7fe82fd334a8>
...                                                 ...  ...                                                ...
1884  Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...  ...  <itertools.combinations object at 0x7fe82fcd5ef8>
1885  Richard E. Grant|Jonathan Lipnicki|Jim Carter|...  ...  <itertools.combinations object at 0x7fe82fcd5f48>
1886  Rene Russo|Jason Alexander|Piper Perabo|Randy ...  ...  <itertools.combinations object at 0x7fe82fcd5f98>
1887  Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...  ...  <itertools.combinations object at 0x7fe82fc58048>
1888  Susan Ward|Lori Heuring|Matthew Settle|Nathan ...  ...  <itertools.combinations object at 0x7fe82fc58098>

[1889 rows x 4 columns]

# Submission

In [34]:
#Вынес все ответы сюда, так удобнее. 
answers['01'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
answers['02'] = '2. Gods and Generals (tt0279111)' #+
answers['03'] = '3. Winnie the Pooh (tt1449283)' #+
answers['04'] = '2. 110' #+
answers['05'] = '1. 107.0' #+
answers['06'] = '5. Avatar (tt0499549)' #+
answers['07'] = '5. The Lone Ranger (tt1210819)' #+
answers['08'] = '1. 1478' #+
answers['09'] = '4. The Dark Knight (tt0468569)' #+
answers['10'] = '5. The Lone Ranger (tt1210819)' #+
answers['11'] = '3. Drama' #+
answers['12'] = '1. Drama' #+
answers['13'] = '5. Peter Jackson' #+
answers['14'] = '3. Robert Rodriguez' #+
answers['15'] = '3. Chris Hemsworth' #+
answers['16'] = '3. Matt Damon' #+
answers['17'] = '2. Action' #+
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+
answers['19'] = '5. 2015 (25449202382)' #+
answers['20'] = '1. 2014 (3243064519)' #+
answers['21'] = '4. Сентябрь (227)' #+
answers['22'] = '2. 450' #+
answers['23'] = '5. Peter Jackson (7)' #+
answers['24'] = '5. Four By Two Productions' #+
answers['25'] = '3. Midnight Picture Show' #+
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'01': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '02': '2. Gods and Generals (tt0279111)',
 '03': '3. Winnie the Pooh (tt1449283)',
 '04': '2. 110',
 '05': '1. 107.0',
 '06': '5. Avatar (tt0499549)',
 '07': '5. The Lone Ranger (tt1210819)',
 '08': '1. 1478',
 '09': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015 (25449202382)',
 '20': '1. 2014 (3243064519)',
 '21': '4. Сентябрь (227)',
 '22': '2. 450',
 '23': '5. Peter Jackson (7)',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27